-h, --help - выводит доступные команды
-с, --card - выводит информацию о структуре карточки
l, load - загрузка коллекции из файла data.hw
s, save - сохранение коллекции в файл data.hw
c, clean - очистка текущей коллекции в буфере
a, add - добавление карточки в коллекцию
u, update - обновления карточки коллекции по индексу
r, remove - удаление карточки из коллекции по индексу
v, view - просмотр текущей коллекции в буфере
Эко карта: { название_пункта код_отако количество_людей уровень_загрязнения }
